<div class="hero-unit">
<h1>Get possible <span class="hidden-tablet hidden-desktop">words</span><span class="hidden-phone">word combinations</span> from letters</h1>
<%= render :partial => "shared/searchbox", :locals => {:tiles => "", :mask => ""} %>
</div>
