<div class="hero-unit">
<h1>Search for Words</h1>
<p>Get ahead in Scrabble, Words with Friends, Lexulous, Wordscraper, Scrabulous, Anagrammer, Literati, Text Twist, and Jumble Words. Unscramble Anagrams and Win! Use this tool if you're stuck, or just want to cheat your way to victory.</p>
<%= render :partial => "shared/searchbox", :locals => {:tiles => "", :mask => ""} %>
</div>
