<div class="hero-unit">
<h1>Get possible <span class="hidden-tablet hidden-desktop">words</span><span class="hidden-phone">word combinations</span> from letters</h1>
<p>Get ahead in Scrabble, Words with Friends, Lexulous, Wordscraper, Scrabulous, Anagrammer, Literati, Text Twist, and Jumble Words. Unscramble Anagrams and Win! If you're stuck, or just want to cheat your way to victory use this word finder for words with friends and scrabble. </p>
<%= render :partial => "shared/searchbox", :locals => {:tiles => "", :mask => ""} %>
</div>

<div class="row-fluid">
  <div class="span12"><h1>Play the game</h1></div>
</div>

<% content_for :post_words do %>
  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <div class="thumbnail">
          <a href="http://www.amazon.co.uk/gp/product/B00005N5OY/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=B00005N5OY&linkCode=as2&tag=worpuzworfin-21" target="_blank">
            <div class="image-too-small-container">
              <img class="img-rounded" src="http://ws.assoc-amazon.co.uk/widgets/q?_encoding=UTF8&ASIN=B00005N5OY&Format=_SL160_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=worpuzworfin-21" alt="Boggle" >
            </div>
            <h3>Boggle</h3>
          </a>
          <p> The dice are placed in the Boggle container and given a good shake. Players must then place the container upright to allow the dice to settle with one letter on each side facing up. The sand timer is set, and you have to make out as many words as possible from the letters facing upwards before the sand timer runs out.</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <a href="http://www.amazon.co.uk/gp/product/B0000AP4RQ/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=1634&creative=6738&creativeASIN=B0000AP4RQ&linkCode=as2&tag=worpuzworfin-21" target="_blank">
            <div class="image-too-small-container">
              <img class="img-rounded" src="http://ws.assoc-amazon.co.uk/widgets/q?_encoding=UTF8&ASIN=B0000AP4RQ&Format=_SL160_&ID=AsinImage&MarketPlace=GB&ServiceVersion=20070822&WS=1&tag=worpuzworfin-21" alt="Scrabble Original Board Game" >
            </div>
            <h3>Scrabble Original Board Game</h3>
          </a>
          
          <p>Did you know scrabble was invented in 1931 by an unemployed architect named Alfred Butts? It was quietly played by just the inventor and his friends until 1948 when it began to be manufactured and sold. Scrabble is the world's best-selling word game and once people start playing this famous word game they are usually captivated for life.</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail">
          <a href="http://www.wordswithfriends.com/" target="_blank">
            <%= image_tag "wwf.png", :alt => "Words With Friends", :class=>"img-rounded" %>
            <h3>Words With Friends</h3>
          </a>
          <p>Play this game with both your Droid and iPhone/iPad-toting friends. Experience for yourself why millions are addicted to the word building, triple score seeking, chat bubble sending goodness of Words With Friends</p>
        </div>
      </li>
    </ul>
  </div>
<% end %>

