<div class="hero-unit">
  <h1>Results</h1>
  <% if @words.nil? || @words.empty? %>
  <p>No Results! <a href="#searchAgain">Try another</a>.</p>
  <% else %>
  <p><a href="#searchAgain">Search Again</a></p>
  <ol>
  <% @words.each do |word| %>
    <li><span class="word"><%=word.to_s %></span><span class="score" title="Unmodified on board score"><%=word.score %></span></li>
  <% end %>
  </ol>
  <% end %>
  <hr id="searchAgain" />
  <%= render :partial => "shared/searchbox", :locals => {:tiles => @tiles, :mask => @mask} %>
</div>
