// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand:hover {
  transition: color .35s ease-in-out;
  -moz-transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out;
}

.brand, .navbar .brand {
  transition: color .35s ease-in-out;
  -moz-transition: color .35s ease-in-out;
  -webkit-transition: color .35s ease-in-out;
  font-family: 'SnigletRegular';
  color: rgb(0, 214, 243);
}

.hero-unit h1 {
  margin-bottom: 10px;
}

.form-actions {
  border-style: none;
}

.hero-unit, .form-actions {
  background-color: rgb(200, 241, 247);
}

h1 {
  font-family: 'ComfortaaRegular';
}

p, ul, .popover-content, .help-block {
  font-family: 'PTSansRegular';
}

.popover-content, .help-block {
  font-size: 75%;
}

.touch-help {
  display: none;
}
